@font-face{
	font-family: "Kaushan Script";
	src:url("KaushanScript-Regular.otf");
}

body{
	max-width: 780px;
	margin: 0 auto;
	background: url("fdp.png");
	background-attachment: fixed;
	background-image: no-repeat;
	border: 2px solid black;
}

header{
	display: flex;
	align-items: flex-end;
	border: 1px dashed blue;
	font-size: 15px;
}


.en-tête{
	display: inline-block;
	text-align: center;
	text-shadow: 5px 5px 6px grey;
	font-family: "Kaushan Script";
	border: 1px dashed black;
	width: 70%;
	font-size: 20px;
}

.photo {
	display: inline-block;
	width: 30%;
}

.photo1 {
	width: 200px;
	margin: 0 0 50px 15px;
	border-radius: 400px;
}

.experience {
	display: inline-block;
	width: 63%;
	border: 1px dashed red;
	padding: 10px;
	font-size: 17px;
}

.experience p {
	display: block;
	margin: 1.5em 0;
}
.competences {
	display: inline-block;
	width: 33%;
	padding: 25px 0 25px 0;
	border: 1px dashed pink;
	vertical-align: top;
	font-size: 17px;
	}

.diplomes {
	display: inline-block;
	vertical-align: top;
	border: 1px dashed green;
	width: 33%;
	padding: 25px 0 25px 0;
	font-size: 17px;
	margin-top: -300px;
}

.loisirs {
	display: inline-block; 
	width: 33%;
	padding: 25px 0 25px 0;
	font-size: 17px;
	vertical-align: top;
	border: 1px dashed green;
	margin: -100px 0 0 -200px;
}

li {
	margin: 20px 0 0 20px;
	margin-left: 0px;  
}
h2{
	font-family: "Kaushan Script";
	text-align: center;
}

h1{
	font-family: Comic Sans MS;
}


